<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> </head>

<body bgcolor="blue">
    <h1>
        <%= title %>
    </h1>
    <form>
        <p> Name: <input type="text" name="name" placeholder="please type your name here" id="name"></p>
        <p> Post: <input type="text" name="article" placeholder="article a text" id="article"> </p> <button id="submitBtn">Save</button> </form>
    <script src="/javascripts/script.js"></script>
</body>

</html>
